# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\D\django_project_work\scripe_job\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
